extends ./layout

block body

    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-header
                a.navbar-brand Tareas pendientes

            div.navbar-right
                ul.nav.navbar-nav
                    li
                        a Forgot password
                    li
                        a Register Account


            form.navbar-form.navbar-right
                div.form-group
                    input.form-control(type="email", name="email")

                    input.form-control(type="password", name="password")

                button.btn.btn-default Submit




